.analytics-box {
  position: relative;
  width: 100%;

  @include large-mobile {
    border: 0;
    overflow: visible;
    border-radius: 0;
  }

  &__slider {

    max-height: 250px;

    height: 250px;
    @include large-mobile {
      height: auto;
      max-height: 100%;
    }
  }

  &__slide {
    position: relative;
    overflow: hidden;
    padding: 50rem 50rem 30rem 50rem;

    &.first-banner {
      border: 1px solid $light-gray;
      border-radius: 20rem;
      overflow: hidden;
      @include large-mobile{
      }
    }

    @include large-tablet {
      padding: 50rem 30rem 30rem 30rem;
    }
    @include large-mobile {
      padding:10rem 20rem 20rem 20rem;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    width: 50%;
    max-width: 380rem;

    @include small-tablet {
      width: auto;
      max-width: inherit;
    }
  }

  &__title {
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    @include max-rows(36, 1);
    word-wrap: break-word;
  }

  &__desc {
    margin-top: 10rem;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.5;
    color: #6E6E73;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    @include max-rows(16*1.5, 2);
    @include large-mobile {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__statistic {
    margin-top: 30rem;

    @include large-mobile {
      margin-top: 20rem;
    }
  }

  &__img {
    position: absolute;
    right: 218rem;
    bottom: 0;
    width: 569rem;
    pointer-events: none;

    @include large-desktop {
      right: 120rem;
      width: 580rem;
    }
    @include large-tablet {
      right: 10rem;
    }
    @include small-tablet {
      width: 500rem;
    }
    @include large-mobile {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    right: 20rem;
    bottom: 20rem;
    z-index: 5;

    @include small-tablet {
      bottom: 30rem;
      right: 30rem;
    }

    @include large-mobile {
      display: none !important;
    }
  }

  &__btn {
    &:not(:first-child) {
      margin-left: 6rem;
    }
  }
}

.opacity-0 {
  opacity: 0 !important;
}

.analytics-box__img.cover-img {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;

  img {
    border-radius: 20rem;
    height: 100%;
  }
}
